<div class="container text-center">
    <h1>about page</h1>
    <p>nous sommes pole Ampli. nous souhaitons creer un moyen de mettre en relation
    des musiciens Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, pariatur, nulla modi cumque excepturi possimus nam quas natus esse quidem inventore impedit sit quos aliquam architecto obcaecati illum repudiandae porro!</p>
</div>